@model AbantuTech.Models.EventOrganizer
@using AbantuTech.Models;

@{
    ViewBag.Title = "AssignTask";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ApplicationDbContext db = new ApplicationDbContext();
    var mem = db.ProgrammeMembers.FirstOrDefault(x => x.eventTeamId == Model.eventTeamId);
}

<h2 style="text-align:center;">Assign Event Task</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Assign a task</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => mem.Member.FirstName, "Member Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayName(mem.Member.FirstName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => mem.Member.Surname, "Member Surname", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayName(mem.Member.Surname)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.eventTask, "Event Task", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.eventTask, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Event Task" } })
                @Html.ValidationMessageFor(model => model.eventTask, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Assign" class="btn btn-default" />
            </div>
        </div>
   </div>
}
<div>
    @Html.ActionLink("Return", "getProgrammeMembers")
</div>
