@model IEnumerable<AbantuTech.Models.EventMembers>


@{
    ViewBag.Title = "EventMembers";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<style>
    img {
        display: block;
        margin: auto;
    }
</style>
<img src="~/Content/Template/images/5.jpg" height="110" width="110" />
<h1><p align="center">Event Attendance</p></h1>
@using (Html.BeginForm("Index", "Events", FormMethod.Get))
{
    <table>
        <tr>
            <td style="padding-right:10px;">Find by event name:  </td>
            <td style="padding-bottom:8px;">@Html.TextBox("SearchString", null, new {@class="form-control"})</td>
            <td style="padding-left:10px; padding-bottom:8px"><input type="submit" value="Search"/></td>
        </tr>
    </table>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Event ID")
        </th>
        <th>
            @Html.DisplayName("Event Name")
        </th>
        <th>
            @Html.DisplayName("Member ID")
        </th>
        <th>
            @Html.DisplayName("First Name")
        </th>
        <th>
            @Html.DisplayName("Last Name")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model )
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Event_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbantuMember.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbantuMember.Surname)
            </td>
            @if (User.IsInRole("Admin"))
            {
                if (item.Event.start_date <= DateTime.UtcNow)
                {
                    <td>
                        <div class="btn btn-success attend-confirm" data-href="/events/AttendanceConfirmed/@item.Event_ID">Confirm Attendance</div>
                    </td>
                }
            }
        </tr>
    }

</table>
<script>
    $('.attend-confirm').on('click', function () {
        var self = $(this),
            url = self.attr('data-href');
        $.ajax({
            method: 'POST',
            url: url,
            success: function (res) {
                if (typeof res.message === "undefined") {
                    if (res.success) {
                        self.text("Confirmed");
                    } else {
                        self.text("Unable to Confirm");
                    }
                } else {
                    self.text("Already Confirmed");
                }
            },
            error: function (err) {
                self.removeClass("alert-success");
                self.addClass("alert-danger");
                self.text("Failed");
            }
        });
    });
</script>