@model IEnumerable<AbantuTech.Models.EventMembers>


@{
    ViewBag.Title = "EventMembers";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<style>
    img {
        display: block;
        margin: auto;
    }
</style>
<img src="~/Content/Template/images/5.jpg" height="110" width="110" />
<h1><p align="center">Event Attendance</p></h1>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Event ID")
        </th>
        <th>
            @Html.DisplayName("Event Name")
        </th>
        <th>
            @Html.DisplayName("Member ID")
        </th>
        <th>
            @Html.DisplayName("First Name")
        </th>
        <th>
            @Html.DisplayName("Last Name")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model )
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Event_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbantuMember.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbantuMember.Surname)
            </td>
        </tr>
    }

</table>