@model IEnumerable<Abantu_System.Models.Event>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<style>
    img {
        display: block;
        margin: auto;
    }
</style>
<img src="~/Content/Template/images/5.jpg" height="110" width="110" />
<h1><p align="center">Events</p></h1>

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Venue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.start_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.end_date)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.start_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.end_date)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Event_ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.Event_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Event_ID })
            </td>
            @if (!User.IsInRole("Admin"))
            {
                <td>
                    <div class="btn btn-success attend-event" data-href="/events/AttendEvent/@item.Event_ID">Attend Event</div>
                    @*@Html.ActionLink("Attend Event", "AttendEvent", "Event", new { id = item.Event_ID})*@
                </td>
                <td>
                    @Html.ActionLink("View", "EventAttendance", new { id = item.Event_ID }, new { @class = "btn btn-success" })

                </td>
            }
        </tr>
    }

</table>
<script>
    $('.attend-event').on('click', function () {
        var self = $(this),
            url = self.attr('data-href');
        $.ajax({
            method: 'POST',
            url: url,
            success: function (res) {
                if (typeof res.message === "undefined") {
                    if (res.success) {
                        self.text("Added");
                    } else {
                        self.text("Unable to Add");
                    }
                } else {
                    self.text("Already Attending");
                }
            },
            error: function (err) {
                self.removeClass("alert-success");
                self.addClass("alert-danger");
                self.text("Failed");
            }
        });
    });
</script>

<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/Share" data-onsuccess="lnksuccess" data-onerror="error" data-url="<%=strShareUrl %>">
</script>


<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://c-sharp-corner.blogspot.in/2012/06/social-share-buttons-in-aspnet.html" data-text="Enter Data text here" data-size="large" data-count="none">Tweet</a>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


http://www.facebook.com/sharer.php?u=http://c-sharp-corner.blogspot.in/2012/06/social-share-buttons-in-aspnet.html

<a href="http://www.facebook.com/sharer.php?u=http://c-sharp-corner.blogspot.in/2012/06/social-share-buttons-in-aspnet.html" title="share on facebook">Click to share on facebook</a>


@*<script>
    function lnksuccess(url) {
        alert("url = " + url + "  shared successfully");
    }
    function lnkerror(url){
      alert("something goes wrong in url sharing");
    }
</script>*@

