@model IEnumerable<Abantu_System.Models.Programme>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<style>
    img {
        display: block;
        margin: auto;
    }
</style>
<img src="~/Content/Template/images/5.jpg" height="110" width="110" />
<h1><p align="center">Programmes</p></h1>
@using (Html.BeginForm("Index", "Programmes", FormMethod.Get))
{
    <table>
        <tr>
            <td style="padding-right:10px;">Find by programme name:  </td>
            <td style="padding-bottom:8px;">@Html.TextBox("Searchstring", null, new { @class="form-control"})</td>
            <td style="padding-left:10px; padding-bottom:8px"><input type="submit" value="Search"/></td>
        </tr>
    </table>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        @if (User.IsInRole("Admin"))
        {
            <td></td>
        }
        else
        {
            <th>
                @Html.DisplayName("Add Yourself")
            </th>
            <th>
                @Html.DisplayName("Remove Yourself")
            </th>
            <th>
                @Html.DisplayName("View Programme Members")
            </th>
            <th></th>
        }

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Programme_ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Programme_ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Programme_ID })
                </td>
            }
            else
            {
                <td>
                    <div class="btn btn-success add-to-programme" data-href="/programmes/AddToProgramme/@item.Programme_ID">Add</div>
                </td>
                <td>
                    <div class="btn btn-danger remove-to-programme" data-href="/programmes/RemoveToProgramme/@item.Programme_ID">Remove</div>
                </td>
                <td>
                    @Html.ActionLink("View", "ProgrammeMembers", new { id = item.Programme_ID }, new { @class = "btn btn-success" })
                </td>
            }


        </tr>
    }

</table>
<script>
    $('.add-to-programme').on('click', function () {
        var self = $(this),
            url = self.attr('data-href');
        $.ajax({
            method: 'POST',
            url: url,
            success: function (res) {
                if (typeof res.message === "undefined") {
                    if (res.success) {
                        self.text("Added");
                    } else {
                        self.text("Unable to Add");
                    }
                } else {
                    self.text("Already In");
                }
            },
            error: function (err) {
                self.removeClass("alert-success");
                self.addClass("alert-danger");
                self.text("Failed");
            }
        });
    });
    $('.remove-to-programme').on('click', function () {
        var self = $(this),
            url = self.attr('data-href');
        $.ajax({
            method: 'DELETE',
            url: url,
            success: function (res) {
                if (typeof res.message === "undefined") {
                    if (res.success) {
                        self.text("Removed");
                    } else {
                        self.text("Unable to remove");
                    }
                } else {
                    self.text("Not In Programme");
                }
            },
            error: function (err) {
                self.removeClass("alert-success");
                self.addClass("alert-danger");
                self.text("Failed");
            }
        });
    });
</script>