@model Abantu_System.Models.Meeting

@{
    ViewBag.Title = "Create";
}
<link href="~/Content/JQueryIU/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/JQueryIU/jquery-ui.theme.min.css" rel="stylesheet" />
<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Meetings", "Index")</li>
        <li>@Html.ActionLink("All", "Index")</li>
        <li class="active">@ViewBag.Title</li>
    </ol>


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="panel panel-primary">
      <div class="panel-heading">Basic Details</div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Start_Time, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Start_Time, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Start_Time, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.End_Time, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.End_Time, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.End_Time, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter location" } })
                        @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Purpose, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Purpose, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter purpose" } })
                        @Html.ValidationMessageFor(model => model.Purpose, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Committee_ID, "Committee_ID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("Committee_ID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Committee_ID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
 <div class="form-group">
                    <div class="btn-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
                    </div>
                </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@*<script src="~/Scripts/jquery-ui.min.js"></script>
<script>
    $('#Date').datepicker();
</script>
}*@
