@model IEnumerable<Abantu_System.Models.Meeting>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
}
<style>
    img {
        display: block;
        margin: auto;
    }
</style>
<img src="~/Content/Template/images/5.jpg" height="110" width="110" />
<h1><p align="center">Meetings</p></h1>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Events", FormMethod.Post))
{
    <input type="search" name="Name" id="Name" , placeholder="Search By Name" class="form-control" />
    <br />
    <input type="submit" value="Search" class="btn btn-default" />
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Committee.Committee_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.End_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Purpose)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Committee.Committee_Name)
        </td>
        
        <td>
            @item.Date.ToLongDateString()
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Start_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.End_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Purpose)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Meeting_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Meeting_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Meeting_ID })
        </td>
    </tr>
}

</table>
