@using Microsoft.AspNet.Identity
@using AbantuTech.Models;
@using Abantu_System.Models;
@using Microsoft.AspNet.Identity.EntityFramework;
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Hello @User.Identity.GetUserName() ! <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    @{
                        ApplicationDbContext db = new ApplicationDbContext();
                        var UserManager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(db));
                        ApplicationUser currentUser = UserManager.FindById(User.Identity.GetUserId());
                        var e = db.Members.Where(m => m.Email == currentUser.Email).FirstOrDefault();
                        if (e != null && e.isProfileActive == true)
                        {
                            <li>@Html.ActionLink("Manage Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                            <li>@Html.ActionLink("View Profile", "ViewProfile", "Profile", routeValues: null, htmlAttributes: new { title = "Profile" })</li>
                        }
                        else if (e != null && e.isProfileActive == false)
                        {
                            <li>@Html.ActionLink("Manage Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                        }

                    }
                </ul>
            </li>


            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
                            }
                        }
                        else
                        {
                            <ul class="nav navbar-nav navbar-right">
                                <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                            </ul>
                        }
