@model Abantu_System.Models.Committee
@{
    ViewBag.Title = "MemberIndex";
    Layout = null;
}
<style>
    img {
        display: block;
        margin: auto;
    }
</style>
<img src="~/Content/Template/images/5.jpg" height="110" width="110" />
<h1><p align="center">Members in a Committee</p></h1>


<link href="~/Content/bootstrap.css" rel="stylesheet" />
<div class="container" style="width:60%; margin-top:2%">
    @if (Model != null)
    {

        <table class="table table-striped">

            <tr>
                <th>Member ID</th>
                <th>First Name</th>
                <th>Surname</th>
                <th>Committe ID</th>
                <th>Committe Name</th>
            </tr>
            <tbody>

                @foreach (var item in Model.Members)
                {
                    <tr>
                        <td>@item.Member_ID</td>
                        <td>@item.FirstName</td>
                        <td>@item.Surname</td>
                        <td>@item.Committee_ID</td>
                        <td>@item.CommitteeName</td>

                    </tr>
                }
            </tbody>
        </table>
    }

    @Html.ActionLink("View Members within Committee", "MemberIndex", null, new { @class = "btn btn-default" })

</div>
