
@{
    ViewBag.Title = "InternMenu";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<style>
    img {
        display: block;
        margin: auto;
    }
</style>
<img src="~/Content/Template/images/5.jpg" height="110" width=110" />
<h1><p align="center">Manage</p></h1>
<h2>Intern Menu</h2>
<ul class="table">

<li class="h2">
      @Html.ActionLink("Member", "Index", "Members")
</li>
<li class="h2">
    @Html.ActionLink("Programme", "Index", "Programmes")
</li>
<li class="h2">
    @Html.ActionLink("Meeting", "Index", "Meetings")
</li>
<li class="h2">
    @Html.ActionLink("Event", "Index", "Events")
</li>

<li class="h2">
    @Html.ActionLink("Committee", "Index", "Committees")
</li>
   
</ul>

