@model IEnumerable<Abantu_System.Models.AbantuMember>
@{
    ViewBag.Title = "AllReactivations";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2 style="text-align:center">List of Reactivation Requests</h2>

<table class="table table-bordered table-striped table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.ActionLink("View Deactivation Request", "ViewReactRequest", new { id = item.Member_ID })
            </td>
        </tr>
    }
</table>

