@model Abantu_System.Models.BudgetExpenses

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<img src="~/Content/Template/images/5.jpg" height="110" width=110" />
<h1><p align="center">BudgetExpenses</p></h1>
<h2>Details</h2>

<div>
    <h4>BudgetExpenses</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Budget.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Budget.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExpenseName }) |
    @Html.ActionLink("Back to List", "Index")
</p>
