@model IEnumerable<HelpDeskIntegration.Models.TicketModel>
@{
    ViewBag.Title = "AllTicketView";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<style>
    .min85px {
        min-width: 85px;
    }

    .min120px {
        min-width: 110px;
    }
</style>

<div class="container">
    <div class="container-fluid">
        <div class="page-header">
            <h4>Ticket List<div class="pull-right"><p> @Html.ActionLink("Create New Ticket", "Create") </p></div></h4>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                @if (Model.Count() > 0)
                {
                    <thead>
                        <tr>
                            <th>
                                Ticket No
                            </th>
                            <th>
                                Title
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Created)
                            </th>
                            @foreach (var CustomVariableHeader in Model.FirstOrDefault().Custom_Variables)
                            {
                                var isHide = "";
                                if (!CustomVariableHeader.IsToShowCustomField)
                                {
                                    isHide = "hide";
                                }
                                <th class="@isHide">@CustomVariableHeader.LabelName</th>
                            }
                            <th class="min120px">Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Issue_No)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Summary)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Created.Split('T')[0])
                                </td>
                                @foreach (var customV in item.Custom_Variables)
                                {
                                    var showTdCss = "";
                                    if (!customV.IsToShowCustomField)
                                    {
                                        showTdCss = "hide";

                                    }
                                    <td class="@showTdCss">
                                        @customV.CustomVariableValue
                                    </td>
                                }
                                <td>
                                    <div>
                                        @Html.ActionLink("Edit", "Edit", new { HelpDeskKey = item.Issue_No }) |
                                        @Html.ActionLink("Details", "Details", new { HelpDeskKey = item.Issue_No }) |
                                        <a href="javascript:void(0)" onclick="showfileDetailsModel('@item.Issue_No');">Attachments</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                }
                else
                {
                    <thead><tr><th style="align-content:center;">No Tickets Found!</th></tr></thead>
                    <tbody></tbody>
                }
            </table>

        </div>
        @{
            var BaseUrl = System.Configuration.ConfigurationManager.AppSettings["JiraBaseUrl"];
        }
        <input type="hidden" value="@BaseUrl" id="appURL" />
    </div>
</div>
@Html.Partial("_UploadedFileDetalis")
<script type="text/javascript">
    var BaseUrl = $('#appURL').val();
    function downloadHelpDeskFile(someObject) {
        $.ajax({
            type: "POST",
            url: BaseUrl + "/HelpDesk/DownLoadAttchementFile",
            data: JSON.stringify(someObject),
            contentType: "application/json; charset=utf-8",
            datatype: "jsondata",
            async: "true",
            success: function (responsedata) {

            },
            error: function (response) {

            }, success: function () {
                //window.location = BaseUrl + "/HelpDesk/DownLoadAttchementFile" + someObject.id;
            }
        });
    }
    function showfileDetailsModel(data) {
        $('#fileListTable tbody').empty();
        $.ajax({
            type: "GET",
            url: BaseUrl + "/HelpDesk/GetticketAttachment",
            data: { 'IssueID': data },
            contentType: "application/json; charset=utf-8",
            datatype: "jsondata",
            async: "true",
            success: function (responsedata) {
                var tableData = "";
                for (i = 0; i < responsedata.length; i++) {
                    tableData = tableData + "<tr>";
                    tableData = tableData + "<td>" + responsedata[i].filename + "</td>";
                    tableData = tableData + "<td> <a href='" + BaseUrl + "/HelpDesk/DownLoadAttchementFile?content=" + responsedata[i].content + "&filename=" + responsedata[i].filename + "' target='blank' >Download</a>";
                    tableData = tableData + "&nbsp;&nbsp; <a href='javascript:void(0)' style='color:red;' onclick='DeleteAttachment(" + responsedata[i].id + ")'>Delete</a> </td>";
                    //tableData = tableData + "<td> <a href='#' onclick='downloadHelpDeskFile(" + JSON.stringify(responsedata [i])+ ")' ><i class='fa fa-download'></i></a> </td>";                    
                    tableData = tableData + "</tr>";
                }
                $('#fileListTable tbody').append(tableData);
                $('#upLoadFileDetails').modal('show');
            },
            error: function (response) {
                console.log(response.status + ' ' + response.statusText);
            }
        });
    }
    function closefileModal() {
        $('#upLoadFileDetails').modal('hide');
    }
    function DeleteAttachment(id) {
        $.ajax({
            type: "GET",
            url: BaseUrl + "/HelpDesk/DeleteAttachment?AttchmentID=" + id,
            contentType: "application/json; charset=utf-8",
            datatype: "jsondata",
            async: "true",
            success: function (responsedata) {
                if (responsedata.Deletestatus) {
                    $('#upLoadFileDetails').modal('hide');
                    alert("Document has beed deleted succesfully!.");
                }
                else {
                    alert("Error Occured while deleting the Document , pleae contact the Admin!.");
                }
            },
            error: function (response) {
                alert("Error Occured while deleting the Document , pleae contact the Admin!.");
            }
        });
    }
</script>