@model HelpDeskIntegration.Models.TicketModel
@{
    ViewBag.Title = "TicketDetails";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<style>
    .margins4percent {
        margin-top: 0.4%;
    }
</style>
<div class="container">
    <div class="container-fluid">
        <div class="page-header">
            <h4>
                @ViewBag.Title
                <div class="pull-right"><p> @Html.ActionLink("Ticket List", "Index", "HelpDesk") </p></div>
            </h4>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab"> Ticket Info</div>
            <div class="panel-body">
                <div class="form-horizontal">

                    <div class="form-group">
                        <label class="col-md-2 control-label">Issue No</label>
                        <div class="col-md-10 margins4percent">
                            @Html.DisplayFor(model => model.Issue_No)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Reporter</label>
                        <div class="col-md-10 margins4percent">
                            @Html.DisplayFor(model => model.Reporter)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Status</label>
                        <div class="col-md-10 margins4percent">
                            @Html.DisplayFor(model => model.Status)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Project </label>
                        <div class="col-md-10 margins4percent">
                            @Html.DisplayFor(model => model.Project)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Summary</label>
                        <div class="col-md-10 margins4percent">
                            @Html.DisplayFor(model => model.Summary)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Created </label>
                        <div class="col-md-10 margins4percent">
                            @Html.DisplayFor(model => model.Created)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Updated</label>
                        <div class="col-md-10 margins4percent">
                            @Html.DisplayFor(model => model.Updated)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Description</label>
                        <div class="col-md-10 margins4percent">
                            @Html.DisplayFor(model => model.Description)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Assignee</label>
                        <div class="col-md-10 margins4percent">
                            @Html.DisplayFor(model => model.Assignee)
                        </div>
                    </div>
                    @for (int i = 0; i < Model.Custom_Variables.Count(); i++)
                    {
                        string cssclassdata = "";
                        if (!Model.Custom_Variables[i].IsToShowCustomField)
                        {
                            cssclassdata = "hide";
                        }
                        <div class="form-group @cssclassdata">
                            <label class="control-label col-md-2">@Model.Custom_Variables[i].LabelName</label>
                            <div class="col-md-10 margins4percent">
                                @Html.DisplayFor(modelItem => Model.Custom_Variables[i].CustomVariableValue)
                            </div>
                        </div>

                    }
                </div>
                @Html.Action("GetIssueComment", "HelpDesk", new { @IssueID = Model.Issue_No })
            </div>
        </div>
    </div>
</div>
@section Scripts {
<link href="~/Content/SimpleCommentHistory.css" rel="stylesheet" />
}



