@model IEnumerable<AbantuTech.Models.HelpCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>HelpDesk Categories</h2>
@using (Html.BeginForm("Index", "HelpCategories", FormMethod.Get))
{
    <table>
        <tr>
            <td style="padding-right:10px;">Find by category name:  </td>
            <td style="padding-bottom:8px;">@Html.TextBox("SearchString", null, new {@class="form-control" })</td>
            <td style="padding-left:10px; padding-bottom:8px"><input type="submit" value="Search"/></td>
        </tr>
    </table>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cID }) |
            @Html.ActionLink("Details", "Details", new { id=item.cID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cID })
        </td>
    </tr>
}

</table>
