@model IEnumerable<Abantu_System.Models.Event>

@{
    ViewBag.Title = "getEvents";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<style>
    img {
        display: block;
        margin: auto;
    }
</style>
<img src="~/Content/Template/images/5.jpg" height="110" width="110" />
<h1><p align="center">Events</p></h1>
@using (Html.BeginForm("Index", "Events", FormMethod.Get))
{
    <table>
        <tr>
            <td style="padding-right:10px;">Find by name:  </td>
            <td style="padding-bottom:8px;">@Html.TextBox("SearchString", null, new {@class="form-control"})</td>
            <td style="padding-left:10px; padding-bottom:8px"><input type="submit" value="Search"/></td>
        </tr>
    </table>
}
<h2>Current upcoming events</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Venue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.start_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.end_date)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.start_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.end_date)
            </td>
            <td>
                @Html.ActionLink("Create Event Team","Create", new { id=item.Event_ID })
            </td>
       </tr>
    }
</table>

