@model Abantu_System.Models.Tasks

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<style>
    img {
        display: block;
        margin: auto;
    }
</style>
<img src="~/Content/Template/images/5.jpg" height="110" width=110" />
<h1><p align="center">Tasks</p></h1>
<h2>Details</h2>

<div>
    <h4>Tasks</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Committee.Committee_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Committee.Committee_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<div>
    @Html.ActionLink("Begin your task", "ViewTasks")
</div>

