@model IEnumerable<Abantu_System.Models.Tasks>
@using Abantu_System.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<style>
    img {
        display: block;
        margin: auto;
    }
</style>
<img src="~/Content/Template/images/5.jpg" height="110" width=110" />
<h1><p align="center">Tasks</p></h1>
<h3>List of tasks assigned to committees</h3>
@using (Html.BeginForm("Index", "Tasks"))
{
    <table>
        <tr>
            <td style="padding-right:10px;">Find by task name:  </td>
            <td style="padding-bottom:8px;">@Html.TextBox("Searchstring", null, new {@class="form-control"})</td>
            <td style="padding-left:10px; padding-bottom:8px"><input type="submit" value="Search"/></td>
        </tr>
    </table>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div style="font-family:Arial">
    
    <ul>
        @foreach (Tasks task in Model)
        {
            <li>
                @Html.ActionLink(task.Name, "Details", new { id = task.ID })
            </li>
            <dv>
                @Html.ActionLink("Remove", "Delete", new { id = task.ID }, new { @class = "btn btn-primary" })
            </dv>
        }
    </ul>
</div>
@*<h2>View committee members assigned to tasks </h2>
    <div class="container">
        <h2>Members:</h2>
        <br/>
        <ul class="list-group">
            <li class="list-group-item"<b>Assignee: </b>@Model.FirstName @Model.Surname</li>
            <li class="list-group-item"><b>Task Assigned: </b>@Model.Name</li>
            <li class="list-group-item"><b>Committee Name: </b>@Model.Committee_ID</li>
            <li class="list-group-item"><b>Date start: </b>@Model.StartDate</li>
            <li class="list-group-item"><b>Date Due: </b>@Model.EndDate</li>
        </ul>
        <br/>
        @foreach (var i in Model.status)
        {
            <li class="list-group-item"<b>Assignee: </b>@Model.FirstName @Model.Surname</li>
            <li class="list-group-item"><b>Task Assigned: </b>@Model.Name</li>
            <li class="list-group-item"><b>Committee Name: </b>@Model.Committee_ID</li>
            <li class="list-group-item"><b>Date start: </b>@Model.StartDate</li>
            <li class="list-group-item"><b>Date Due: </b>@Model.EndDate</li>
        }

    </div>*@
<div>
    @Html.ActionLink("Begin your task", "ViewTasks")
</div>


