@model IEnumerable<Abantu_System.Models.Tasks>
@Styles.Render("~/Content/kanbanc.css")

@{
    ViewBag.Title = "Index";
}

<h2>Tasks</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Committee.Committee_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Committee.Committee_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

<div class="container-fluid">
    <div id="sortableKanbanBoards" class="row">
        <!--sütun başlangıç-->
        <div class="panel panel-primary kanban-col">
            <div class="panel-heading">
                TODO
                <i class="fa fa-2x fa-plus-circle pull-right"></i>
            </div>
            <div class="panel-body">
                <div id="TODO" class="kanban-centered">
                    @foreach (var i in Model)
                    {
                        if (Convert.ToString(i.status) == "TODO")
                        {
                            <article class="kanban-entry grab" id="item1" draggable="true">
                                <div class="kanban-entry-inner">
                                    <div class="kanban-label">
                                        <h2><a href="#">@Html.DisplayFor(modeli => i.Committee.Committee_Name)</a> <span>Created a task</span> @Html.DisplayFor(modeli => i.Name)</h2>
                                        <p>@Html.DisplayFor(modeli => i.Description)</p>
                                    </div>
                                </div>
                            </article>
                        }
                    }
                </div>
            </div>
        </div>
        <!--sütun bitiş-->
        <!--sütun başlangıç-->
        <div class="panel panel-primary kanban-col">
            <div class="panel-heading">
                DOING
                <i class="fa fa-2x fa-plus-circle pull-right"></i>
            </div>
            <div class="panel-body">
                <div id="DOING" class="kanban-centered">
                    @foreach (var i in Model)
                    {
                        if (Convert.ToString(i.status) == "Doing")
                        {
                            <article class="kanban-entry grab" id="item1" draggable="true">
                                <div class="kanban-entry-inner">
                                    <div class="kanban-label">
                                        <h2><a href="#">@Html.DisplayFor(modeli => i.Committee.Committee_Name)</a> <span>Created a task</span> @Html.DisplayFor(modeli => i.Name)</h2>
                                        <p>@Html.DisplayFor(modeli => i.Description)</p>
                                    </div>
                                </div>
                            </article>
                        }
                    }

                </div>
            </div>

        </div>
        <!--sütun bitiş-->
        <!--sütun başlangıç-->
        <div class="panel panel-primary kanban-col">
            <div class="panel-heading">
                DONE
                <i class="fa fa-2x fa-plus-circle pull-right"></i>
            </div>
            <div class="panel-body">
                <div id="DONE" class="kanban-centered">
                    @foreach (var i in Model)
                    {
                        if (Convert.ToString(i.status) == "Done")
                        {
                            <article class="kanban-entry grab" id="item1" draggable="true">
                                <div class="kanban-entry-inner">
                                    <div class="kanban-label">
                                        <h2><a href="#">@Html.DisplayFor(modeli => i.Committee.Committee_Name)</a> <span>Created a task</span> @Html.DisplayFor(modeli => i.Name)</h2>
                                        <p>@Html.DisplayFor(modeli => i.Description)</p>
                                    </div>
                                </div>
                            </article>
                        }
                    }

                </div>
            </div>
        </div>
        <!--sütun bitiş-->

    </div>
</div>

<!-- Static Modal -->
<div class="modal modal-static fade" id="processing-modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <i class="fa fa-refresh fa-5x fa-spin"></i>
                    <h4>Processing...</h4>
                </div>
            </div>
        </div>
    </div>
</div>