@model IEnumerable<Abantu_System.Models.Branch>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<img src="~/Content/Template/images/5.jpg" height="110" width=110" />
<h1><p align="center">Branches</p></h1>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Branch_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhysicalAddress)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Branch_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhysicalAddress)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Branch_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Branch_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Branch_ID })
        </td>
    </tr>
}
</table>
